@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #121818;
    @apply text-white;
  }
}

@layer utilities {
  /* Hide default browser password toggle */
  input[type="password"]::-webkit-credentials-auto-fill-button,
  input[type="password"]::-webkit-credentials-auto-fill-button:hover,
  input[type="password"]::-webkit-credentials-auto-fill-button:active {
    display: none !important;
  }
  
  /* Hide default browser eye icon */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none !important;
  }
}